<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PointOfSale</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!--
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    -->

    <link rel="stylesheet" type="text/css" href="~/css/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/toastr.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css" />

    <link rel="stylesheet" href="~/css/adminlte.min.css">

</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
        </nav>

        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <div class="sidebar bg-faded">
                <ul class="nav nav-pills nav-sidebar flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-capitalize text-light" asp-action="Index" asp-controller="Home">
                            <i class="fas fa-tools"></i>
                            <p>Point Of Sales</p>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="sidebar">
                <partial name="_LoginPartial" />
                <hr />

                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Administration" asp-action="Index">
                                <i class="fas fa-tachometer-alt"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                    </ul>
                    <hr />
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        <li class="nav-item menu-open">
                            <a asp-controller="Order" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-cart-arrow-down"></i>
                                <p>
                                    Sales
                                </p>
                            </a>
                        </li>
                        <li class="nav-item menu-open">
                            <a asp-controller="Category" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-viruses"></i>
                                <p>
                                    Categories
                                </p>
                            </a>
                        </li>

                        <li class="nav-item menu-open">
                            <a asp-controller="Product" asp-action="Data" class="nav-link">
                                <i class="nav-icon fab fa-product-hunt"></i>
                                <p>
                                    Products
                                </p>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </aside>

        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <h1>@RenderSection("Title", required: false)</h1>
                </div>
            </div>

            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>

        <aside class="control-sidebar control-sidebar-dark">
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>

        <footer class="main-footer">
            <div class="float-right d-none d-sm-inline">
                Styled by <b>AdminLTE.io</b>
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year Point of Sales By Ismail5g.</strong> All rights reserved.
        </footer>
    </div>


    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/all.min.js"></script>
    <script src="~/js/dataTable.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/sweetalert.js"></script>
    <script src="~/js/adminlte.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>